body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 460px;
  margin: 60px auto 0 auto;
}

.TodoPage-title {
  font-size: 20px;
  line-height: 1.6;
  color: #3e3838;
  font-weight: 600;
  margin-bottom: 12px;
}

.AddTodo {
  display: flex;
  height: 34px;
  align-items: stretch;
  margin-bottom: 24px;
}

.TodoSection {
  margin-bottom: 20px;
}

.AddTodo-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #3e3838;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-button {
  font-size: 14px;
  color: white;
  background-color: #48bb78;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  margin-left: 10px;
  cursor: pointer;
}

.TodoSectionTitle {
  display: flex;
  color: #3e3838;
  align-items: center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}

.TodoSectionTitle-remainingCount {
  font-size: 12px;
}

.TodoItem {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #3e3838;
}

.TodoItem-container {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
}

.TodoItem-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
}

.TodoItem-text {
  margin-left: 8px;
}

.TodoItem-dueDate {
  font-size: 12px;
  color: #726a7e;
  margin-left: 10px;
}

.TodoItem-overdueLabel {
  margin-left: 10px;
  color: #e63636;
  font-size: 12px;
  display: flex;
}

.TodoItem-delete {
  visibility: hidden;
  margin-left: 21px;
}

.TodoItem-deleteImage {
  height: 14px;
  vertical-align: middle;
}

.TodoItem-container:hover {
  background-color: #f1edf7;
}

.TodoItem-container:hover .TodoItem-delete {
  visibility: visible;
}
