<h1 class="Header-title">Just Another To-do Manager</h1>
<hr>
<ol class="Home-authenticate">
  <li>If you are a new user, <%= link_to "sign up", new_user_path %>.</li>
  <li>If you are an existing user, <%= link_to "sign in", new_session_path %>.</li>
</ol>
